[Unit]
Description=run radiodawg Python script at startup
After=network.target
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python -u /usr/bin/radiodawg.py

[Install]
WantedBy=multi-user.target